USE [CustomerService_DBMESO]
GO
/****** Object:  StoredProcedure [dbo].[usp_Clean_EqpConstructTypext]    Script Date: 1/12/2025 4:16:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Clean_EqpConstructTypext]
AS
BEGIN TRY
BEGIN
    SET NOCOUNT ON;
    
    ----------------------------------------------------------------
    -- 1. Trim spaces from key text columns
    ----------------------------------------------------------------
    UPDATE dbo.EqpConstructTypext_Staging
    SET Equipment_ID    = LTRIM(RTRIM(Equipment_ID)),
        Equipment_Type  = LTRIM(RTRIM(Equipment_Type)),
        ConstructType   = LTRIM(RTRIM(ConstructType)),
        PPID            = LTRIM(RTRIM(PPID)),
        Comments        = LTRIM(RTRIM(Comments));

    ----------------------------------------------------------------
    -- 2. Handle missing / empty Comments -> "No Comment"
    ----------------------------------------------------------------
    UPDATE dbo.EqpConstructTypext_Staging
    SET Comments = 'Comments - Pull Request'
    WHERE Comments IS NULL
       OR Comments = '';

    ----------------------------------------------------------------
    -- 3. Fix missing PPID for specific Equipment_IDs
    --    (example values – replace with your actual PPIDs if needed)
    ----------------------------------------------------------------
    UPDATE dbo.EqpConstructTypext_Staging
    SET PPID = 'RCPRTL_98'
    WHERE Equipment_ID = 'EQP_Reticle_08'
      AND (PPID IS NULL OR PPID = '');

    UPDATE dbo.EqpConstructTypext_Staging
    SET PPID = 'RCPLITH_878'
    WHERE Equipment_ID = 'EQP_Litho_10'
      AND (PPID IS NULL OR PPID = '');

    ----------------------------------------------------------------
    -- 4. Standardise Equipment_Type values
    --    Example: make all "PhotoResist" consistent
    ----------------------------------------------------------------
    -- First, lower-case for easier matching
    UPDATE dbo.EqpConstructTypext_Staging
    SET Equipment_Type = LOWER(Equipment_Type)
    WHERE Equipment_Type IS NOT NULL;

    -- Then standardise to proper case
    UPDATE dbo.EqpConstructTypext_Staging
    SET Equipment_Type = 'PhotoResist'
    WHERE Equipment_Type LIKE '%photoresist%'
    or 
    LOWER(Equipment_Type) LIKE '%PHOTORESIST%';

    ----------------------------------------------------------------
    -- 5. Standardise date text format (CREATEDDATETIME, UPDATETIME)
    --    Keep as NVARCHAR but convert to ISO format: YYYY-MM-DD
    ----------------------------------------------------------------
    UPDATE dbo.EqpConstructTypext_Staging
    SET CREATEDDATETIME =
        CONVERT(VARCHAR(10), TRY_CONVERT(date, CREATEDDATETIME), 23)
    WHERE CREATEDDATETIME IS NOT NULL
      AND TRY_CONVERT(date, CREATEDDATETIME) IS NOT NULL;

    UPDATE dbo.EqpConstructTypext_Staging
    SET UPDATETIME =
        CONVERT(VARCHAR(10), TRY_CONVERT(date, UPDATETIME), 23)
    WHERE UPDATETIME IS NOT NULL
      AND TRY_CONVERT(date, UPDATETIME) IS NOT NULL;

    ----------------------------------------------------------------
    -- 6. (Optional) Remove rows with completely missing Equipment_ID
    ----------------------------------------------------------------
    DELETE FROM dbo.EqpConstructTypext_Staging
    WHERE Equipment_ID IS NULL
       OR Equipment_ID = '';

END;
END TRY
BEGIN CATCH
    INSERT INTO PipelineErrorLog (ProcedureName, ErrorMessage, ErrorTime)
    VALUES ('usp_Clean_EqpConstructTypext',ERROR_MESSAGE(), GETDATE());
END CATCH;
