USE [CustomerService_DBMESO]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_EqpConstructTypext]    Script Date: 1/12/2025 4:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Import_EqpConstructTypext]
    @FilePath NVARCHAR(260)   -- Example: 'C:\Data\EqpConstruct.xlsx'
AS
BEGIN TRY
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------
    -- Step 1: Clear staging table before inserting new data
    -------------------------------------------------------------------
    TRUNCATE TABLE dbo.EqpConstructTypext_Staging;

    -------------------------------------------------------------------
    -- Step 2: Build BULK INSERT dynamically (file path as parameter)
    -------------------------------------------------------------------
    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = N'
        BULK INSERT dbo.EqpConstructTypext_Staging
        FROM ''' + @FilePath + N'''
        WITH (
            FIRSTROW = 2,                 -- Skip header line
            FIELDTERMINATOR = '','',      -- Columns separated by comma
            ROWTERMINATOR = ''0x0A'',     -- New line (Linux-style, safe default)
            TABLOCK
        );
    ';

    -------------------------------------------------------------------
    -- Step 3: Execute the BULK INSERT command
    -------------------------------------------------------------------
    EXEC (@SQL);

END;
END TRY
BEGIN CATCH
    INSERT INTO PipelineErrorLog (ProcedureName, ErrorMessage, ErrorTime)
    VALUES ('usp_Import_EqpConstructTypext',ERROR_MESSAGE(), GETDATE());
END CATCH;
