USE [CustomerService_DBMESO]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_EqpConstructTypext_From_Staging]    Script Date: 1/12/2025 4:18:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Load_EqpConstructTypext_From_Staging]
AS
BEGIN TRY
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------------------
    -- 1. Clear existing data in the final table (full refresh)
    ----------------------------------------------------------------
    TRUNCATE TABLE dbo.EqpConstructTypext;
    -- If you want incremental load instead, replace TRUNCATE with
    -- a conditional INSERT (or remove this step).

    ----------------------------------------------------------------
    -- 2. Insert cleaned data from staging into final table
    ----------------------------------------------------------------
    INSERT INTO dbo.EqpConstructTypext (
        Equipment_ID,
        Equipment_Type,
        Equipment_Kind,
        ConstructType,
        ProcessType,
        Capabilities, 
        State_Model,
        Portype, 
        Idletime,
        PPID,
        Comments,
        Createdby,
        CreatedDatetime,
        Updateby,
        Updatetime
    )
    SELECT
        Equipment_ID,
        Equipment_Type,
        Equipment_Kind,
        ConstructType,
        ProcessType,
        Capabilities, 
        State_Model,
        Portype, 
        Idletime,
        PPID,
        Comments,
        Createdby,
        Updateby,
        TRY_CONVERT(date, CreatedDatetime) AS CreatedDatetime,
        TRY_CONVERT(date, Updatetime)     AS Updatetime
    FROM dbo.EqpConstructTypext_Staging;

END;
END TRY
BEGIN CATCH
    INSERT INTO PipelineErrorLog (ProcedureName, ErrorMessage, ErrorTime)
    VALUES ('usp_Load_EqpConstructTypext_From_Staging',ERROR_MESSAGE(), GETDATE());
END CATCH;
